[run]
branch = True
source = src/ptvsd

[paths]
source =
   src/ptvsd
   */site-packages/ptvsd

[report]
ignore_errors = True
omit =
    src/ptvsd/_vendored/*
exclude_lines =
    nocov
    raise NotImplementedError
    if __name__ == .__main__.:
