atomicwrites
attrs
certifi
chardet
Click
colorama
coverage
Django
filelock
Flask
idna
itsdangerous
Jinja2
MarkupSafe
more-itertools
pluggy
psutil
py
Pygments
pytest
pytest-timeout
pytz
requests
six
toml
tox
urllib3
virtualenv
Werkzeug
